*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color:#272727;
    font-size: 1.7rem;
    font-family: "Goldman", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #22BBFF;
    box-shadow: 0rem .125rem .125rem #1a1919;
}

nav {
    font-family: "Goldman", serif;
    font-weight: 400;
    font-style: normal;
}

.NavBar{
    display: flex;
    list-style: none;
    gap: 3.125rem;
}

.NavBar li a {
    text-decoration: none;
    color: white;
}

.NavLogo img{
    width: 10.875rem;
    filter: drop-shadow(2px 2px 1px #1a1919);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    height: 50%;
    background-color: #2D2D31;
}

footer ul {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 3.5rem;
    margin-right: 3%;
    color: white;
}

footer li {
    list-style: none;
}

footer div {
    width: fit-content;
    height: fit-content;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}

.Hypergryph img{
    height: 70%;
    width: 70%;
    margin-left: 3%;
}

.Gryphline img{
    height: 70%;
    width: 70%;
}

.Yostar img{
    height: 70%;
    width: 70%;
}

@media (max-width: 1314px) {
    body {
        font-size: 1.4rem;
    }

    header {
        height: 12%;
    }
    
    nav {
        font-size: 1.4rem;
    }

    .NavBar {
        gap: 2.5rem;
    }

    .NavLogo img{
        width: 8rem;
    }
    
    footer ul {
        font-size: 1.2rem;
        gap:3rem
    }
}

@media (max-width: 1085px) {
    body {
        font-size: 1.2rem;
    }

    header {
        height: 12%;
    }
    
    nav {
        font-size: 1.4rem;
    }

    .NavBar {
        gap: 2.5rem;
    }

    .NavLogo img{
        width: 8rem;
    }
    
    footer ul {
        font-size: 1.2rem;
        gap:3rem
    }
}

@media (max-width: 940px) {
    body {
        font-size: 1rem;
    }

    header {
        height: 15%;
    }

    nav {
        font-size: 1rem;
    }

    .NavBar {
        gap: 1.875rem;
    }

    .NavLogo img{
        width: 5.7rem;
    }

    footer ul {
        font-size: 1rem;
        gap:2.5rem
    }
}

@media (max-width: 780px) {
    body {
        font-size: 0.9rem;
    }

    header {
        height: 15%;
    }

    nav {
        font-size: 1rem;
    }

    .NavBar {
        gap: 1.875rem;
    }

    .NavLogo img{
        width: 5.7rem;
    }

    footer ul {
        font-size: 1rem;
        gap:2.5rem
    }
}

@media (max-width: 700px) {
    body {
        font-size: 0.8rem;
    }

    header {
        height: 17%;
    }

    nav {
        font-size: 0.7rem;
    }

    .NavBar {
        gap: 1rem;
    }

    .NavLogo img{
        width: 5rem;
    }

    footer ul {
        font-size: 0.8rem;
        gap: 2rem
    }
}

@media (max-width: 500px) {
    body {
        font-size: 0.7rem;
    }

    header {
        height: 20%;
    }

    nav {
        font-size: 0.5rem;
    }

    .NavBar {
        gap: .6rem;
    }

    .NavLogo img{
        width: 3rem;
    }

    footer ul {
        font-size: 0.4rem;
        gap: 1.5rem
    }
}

@media (max-width: 400px) {
    body {
        font-size: 0.6rem;
    }

    header {
        height: 20%;
    }

    nav {
        font-size: 0.5rem;
    }

    .NavBar {
        gap: .6rem;
    }

    .NavLogo img{
        width: 3rem;
    }

    footer ul {
        font-size: 0.4rem;
        gap: 1.5rem
    }
}

@media (max-width: 360px) {
    body {
        font-size: 0.5rem;
    }

    header {
        height: 20%;
    }

    nav {
        font-size: 0.4rem;
    }

    .NavBar {
        gap: .6rem;
    }

    .NavLogo img{
        width: 2rem;
    }

    footer ul {
        font-size: 0.3rem;
        gap: 1.2rem
    }
}

/*-----------------------------------------------------------------------------------------------INDEX---------------------------------------------------------------------------------------------------------------*/

.HeadBanner-index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 95%;
    margin-top: 3%;
    background-color: #15739D;
    box-shadow: 0rem .125rem .125rem #1a1919;
}

.HeadBanner-index img{
    width: 60%;
    grid-column: 1/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

.Motto1 {
    grid-column: 3/4;
    grid-row: 1/3;
    font-size: 2rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    color: white;
}

.Motto2 {
    grid-column: 4/5;
    grid-row: 2/3;
    font-size: 1.5rem;
    align-self: center;
    color: white;
}

.Legend1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5%;
    padding: 5%;
    color: white;
}

.Legend1 h1 {
    font-weight: 300;
    margin-bottom: 3%;
}

.InfoBlock1 {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-bottom: 5%;
    background-color: #969696;
    box-shadow: 0rem .125rem .125rem #141414;
}

section .SubBanner1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-self: left;
    width: 75%;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    background-color: #545454;
    box-shadow: 0rem .125rem .125rem #2e2d2d;
}

.SubBanner1 p {
    padding-left: 1%;
    grid-column: 3/6;
    grid-row: 1/3;
    margin-top: 2%;
    margin-right: 2%;
}

.SubBanner1 a {
    grid-column: 5/6;
    grid-row: 2/3;
    justify-self: left;
    align-self: end;
    text-decoration: none;
    color: black;
    margin-bottom: 2%;
}

.SubBanner1 img{
    width: 100%;
    height: 100%;
}

.SubBanner1img1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.SubBanner1img2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.SubBanner1img3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.SubBanner1img4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

section .SubBanner2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-self: flex-end;
    width: 75%;
    margin-top: 5%;
    margin-right: 5%;
    text-align: right;
    color: white;
    background-color: #545454;
    box-shadow: 0rem .125rem .125rem #2e2d2d;
}

.SubBanner2 p {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 2%;
    margin-left: 1%;
}

.SubBanner2 a {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: right;
    align-self: end;
    text-decoration: none;
    color: black;
    margin-bottom: 2%;
}

.Rhine img{
    width: 100%;
    height: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    grid-column: 4/5;
    grid-row: 1/2;
    object-fit: contain;
}

.BSW img{
    width: 100%;
    height: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    grid-column: 5/6;
    grid-row: 1/2;
    object-fit: contain;
}

.Maylander img{
    width: 100%;
    height: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    grid-column: 6/7;
    grid-row: 1/2;
    object-fit: contain;
}

section .SubBanner3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-self: left;
    width: 75%;
    margin-top: 5%;
    margin-left: 5%;
    color: white;
    background-color: #545454;
    box-shadow: 0rem .125rem .125rem #2e2d2d;
}

.SubBanner3 p {
    padding-left: 1%;
    grid-column: 3/6;
    grid-row: 1/2;
    margin-top: 2%;
    margin-right: 2%;
}

.SubBanner3 a {
    grid-column: 5/6;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
    text-decoration: none;
    color: black;
    margin-bottom: 2%;
}

.SubBanner3 img{
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
}

@media (max-width: 1300px) {
    .Motto1 {
        font-size: 1.6rem;
    }

    .Motto2 {
        font-size: 1.1rem;
    }
}

@media (max-width: 940px) {
    .Motto1 {
        font-size: 1.3rem;
    }

    .Motto2 {
        font-size: 0.9rem;
    }
}

@media (max-width: 769px) {

    .HeadBanner-index {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .HeadBanner-index img {
        width: 35%;
        filter: drop-shadow(1px 1px 0.5px #1a1919);
    }

    .Motto1 {
        font-size: 1rem;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 1%;
    }

    .Motto2 {
        font-size: 0.6rem;
        text-align: right;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 3%;
    }

    section .SubBanner1 {
        justify-self: center;
        width: 90%;
        box-shadow: 0px 1px 1px #2e2d2d;
    }

    section .SubBanner2 {
        justify-self: center;
        width: 90%;
        box-shadow: 0px 1px 1px #2e2d2d;
    }

    section .SubBanner3 {
        justify-self: center;
        width: 90%;
        box-shadow: 0px 1px 1px #2e2d2d;
    }
}

@media (max-width: 600px) {

    .HeadBanner-index {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .HeadBanner-index img {
        width: 30%;
        filter: drop-shadow(1px 1px 0.5px #1a1919);
    }

    .Motto1 {
        font-size: 0.65rem;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 1%;
    }

    .Motto2 {
        font-size: 0.4rem;
        text-align: right;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 3%;
    }

    .SubBanner1 {
        justify-self: center;
        width: 90%;
        box-shadow: 0px 1px 1px #2e2d2d;
    }

    .SubBanner1 a {
        display: none;
    }

    .SubBanner2 {
        justify-self: center;
        width: 90%;
        box-shadow: 0px 1px 1px #2e2d2d;
    }

    .SubBanner2 a {
        display: none;
    }

    .SubBanner3 {
        justify-self: center;
        width: 90%;
        box-shadow: 0px 1px 1px #2e2d2d;
    }

    .SubBanner3 a {
        display: none;
    }
}

@media (max-width: 350px) {

    .HeadBanner-index img {
        width: 20%;
    }

    .Motto1 {
        font-size: 0.5rem;
    }

    .Motto2 {
        font-size: 0.3rem;
    }
}

/*-------------------------------------------------------------------------------------------ABOUT-------------------------------------------------------------------------------------------------------------------*/

.HeadBanner-About {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-top: 3.125rem;
}

.HeadBanner-About img{
    width: 100%;
    justify-self: center;
    align-self: center;
    grid-column: 1/13;
    grid-row: 1/4;
}

.HeadBanner-About p {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 2.25rem;
    text-align: center;
    justify-self:right;
    align-self: center;
    color: white;
}

.Legend2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    height: 50%;
    color: black;
    background-color: #969696;
}

.Legend2 h1 {
    grid-column: 1/2;
    font-weight: 300;
    justify-self: center;
    align-self: center;
}

.Legend2 p {
    grid-column: 2/5;
    justify-self: center;
    align-self: center;
    padding: 5%;
}

.Mission1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.Mission1 img {
    width: 95%;
    grid-column: 1/13;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

.Mission1 h2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: right;
    font-weight: 300;
    align-self: self-end;
    color: white;
}

.Mission1 p {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    align-self: self-start;
    color: white;
}

.Legend3 {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #969696;
}

.Legend3 h2{
    font-weight: 300;
    justify-self: center;
    align-self: flex-end;
    margin-right: 5%;
    margin-bottom: 1.5%;
    padding-top: 5%;
}

.Legend3 p {
    text-align: right;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 3%;
}

.Achievements {
    display: flex;
    width: 95%;
    background-color: #969696;
}

.Achievements h2 {
    font-weight: 300;
    justify-self: left;
    align-self: center;
    margin-left: 5%;
    padding-bottom: 3%;
}

.Achievements-Summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    gap: 2%;
    padding-bottom: 11%;
    background-color: #969696;
}

.Suppressant {
    font-size: 1rem;
    width: 15.625rem;
    height: 20rem;
    border-radius: .3125rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    background-color: white;
    padding: 1rem;
}

.Suppressant dt{
    padding-top: 1.25rem;
    padding-bottom: 1rem;
}

.Suppressant img{
    width: 15.625rem; 
    height: 15.5rem;
    border-radius: 1rem;
}

.Envoys {
    font-size: 1rem;
    width: 15.625rem;
    height: 20rem;
    border-radius: .3125rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    background-color: white;
    padding: 1rem;
}

.Envoys dt{
    padding-top: 2rem;
    padding-bottom: 3.1rem;
}

.Envoys img{
    width: 15rem; 
    height: 15rem;
    border-radius: 1rem;
}

.Provisional {
    font-size: 1rem;
    width: 15.625rem;
    height: 20rem;
    border-radius: .3125rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    background-color: white;
    padding: 1rem;
}

.Provisional dt{
    padding-top: 1.25rem;
    padding-bottom: 2.50rem;
}

.Provisional img{
    width: 15.625rem; 
    height: 15.5rem;
    border-radius: 1rem;
}

.Provisional2 {
    font-size: 1rem;
    width: 15.625rem;
    height: 20rem;
    border-radius: .3125rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    background-color: white;
    padding: 1rem;
}

.Provisional2 dt{
    padding-top: 1.25rem;
    padding-bottom: 2.50rem;
}

.Provisional2 img{
    width: 15.625rem; 
    height: 15.5rem;
    border-radius: 1rem;
}

@media (max-width: 1350px) {
    .HeadBanner-About p {
        font-size: 1.5rem;
    }

    .Achievements-Summary {
        padding-bottom: 13%;
    }

    .Achievements-Summary dl dd {
        font-size: 0.917rem;
    }

    .Suppressant {
        width: 13rem;
        height: 18rem;
    }
    
    .Suppressant dt{
        padding-top: 1.10rem;
        padding-bottom: 1.5rem;
    }
    
    .Suppressant img{
        width: 13rem; 
        height: 13rem;
        border-radius: 1rem;
    }

    .Envoys {
        width: 13rem;
        height: 18rem;
    }
    
    .Envoys dt{
        padding-top: 2rem;
        padding-bottom: 2.7rem;
    }
    
    .Envoys img{
        width: 13rem; 
        height: 13rem;
        border-radius: 1rem;
    }

    .Provisional {
        width: 13rem;
        height: 18rem;
    }
    
    .Provisional dt{
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }
    
    .Provisional img{
        width: 13rem; 
        height: 13rem;
        border-radius: 1rem;
    }

    .Provisional2 {
        width: 13rem;
        height: 18rem;
    }
    
    .Provisional2 dt{
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }
    
    .Provisional2 img{
        width: 13rem; 
        height: 13rem;
        border-radius: 1rem;
    }
}

@media (max-width: 1085px) {
    .HeadBanner-About p {
        font-size: 1.3rem;
    }

    .Achievements-Summary {
        padding-bottom: 17%;
    }

    .Achievements-Summary dl dd {
        font-size: 0.857rem;
    }

    .Suppressant {
        width: 11rem;
        height: 16rem;
    }
    
    .Suppressant dt{
        font-size: 0.9rem;
        padding-top: 1.10rem;
        padding-bottom: 1.5rem;
    }
    
    .Suppressant img{
        width: 11rem; 
        height: 11rem;
        border-radius: 1rem;
    }

    .Envoys {
        width: 11rem;
        height: 16rem;
    }
    
    .Envoys dt{
        font-size: 0.9rem;
        padding-top: 2rem;
        padding-bottom: 2.7rem;
    }
    
    .Envoys img{
        width: 11rem; 
        height: 11rem;
        border-radius: 1rem;
    }

    .Provisional {
        width: 11rem;
        height: 16rem;
    }
    
    .Provisional dt{
        font-size: 0.9rem;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }
    
    .Provisional img{
        width: 11rem; 
        height: 11rem;
        border-radius: 1rem;
    }

    .Provisional2 {
        width: 11rem;
        height: 16rem;
    }
    
    .Provisional2 dt{
        font-size: 0.9rem;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
    }
    
    .Provisional2 img{
        width: 11rem; 
        height: 11rem;
        border-radius: 1rem;
    }
}

@media (max-width: 950px) {
    .HeadBanner-About p {
        font-size: 1.1rem;
    }

    .Achievements-Summary {
        padding-bottom: 22%;
    }

    .Achievements-Summary dl dd {
        font-size: 0.85rem;
    }

    .Achievements-Summary dl dt {
        font-size: 0.9rem;
    }

    .Suppressant {
        width: 9.5rem;
        height: 14.5rem;
    }
    
    .Suppressant dt{
        padding-top: 1.10rem;
        padding-bottom: 0.65rem;
    }
    
    .Suppressant img{
        width: 9.5rem; 
        height: 9.5rem;
        border-radius: 1rem;
    }

    .Envoys {
        width: 9.5rem;
        height: 14.5rem;
    }
    
    .Envoys dt{
        padding-top: 2rem;
        padding-bottom: 2.9rem;
    }
    
    .Envoys img{
        width: 9.5rem; 
        height: 9.5rem;
        border-radius: 1rem;
    }

    .Provisional {
        width: 9.5rem;
        height: 14.5rem;
    }
    
    .Provisional dt{
        padding-top: 2rem;
        padding-bottom: 2.9rem;
    }
    
    .Provisional img{
        width: 9.5rem; 
        height: 9.5rem;
        border-radius: 1rem;
    }

    .Provisional2 {
        width: 9.5rem;
        height: 14.5rem;
    }
    
    .Provisional2 dt{
        padding-top: 2rem;
        padding-bottom: 2.9rem;
    }
    
    .Provisional2 img{
        width: 9.5rem; 
        height: 9.5rem;
        border-radius: 1rem;
    }
}

@media (max-width: 850px) {
    .HeadBanner-About p {
        font-size: 1.1rem;
    }

    .Achievements-Summary {
        flex-direction: column;
        padding-bottom: 5%;
    }

    .Achievements-Summary dl dd {
        font-size: 0.85rem;
    }

    .Achievements-Summary dl dt {
        font-size: 1rem;
    }

    .Suppressant {
        width: 80%;
        height: 15rem;
        margin-bottom: 3%;
    }
    
    .Suppressant dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Suppressant img{
        width: 9.5rem; 
        height: 9.5rem;
        border-radius: 1rem;
    }

    .Envoys {
        width: 80%;
        height: 15rem;
        margin-bottom: 3%;
    }
    
    .Envoys dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Envoys img{
        width: 9.5rem; 
        height: 9.5rem;
        border-radius: 1rem;
    }

    .Provisional {
        width: 80%;
        height: 15rem;
        margin-bottom: 3%;
    }
    
    .Provisional dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Provisional img{
        width: 9.5rem; 
        height: 9.5rem;
        border-radius: 1rem;
    }

    .Provisional2 {
        width: 80%;
        height: 15rem;
        margin-bottom: 3%;
    }
    
    .Provisional2 dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Provisional2 img{
        width: 9.5rem; 
        height: 9.5rem;
        border-radius: 1rem;
    }
}

@media (max-width: 700px) {
    .HeadBanner-About p {
        font-size: 1rem;
    }
}

@media (max-width: 650px) {
    .HeadBanner-About p {
        font-size: 0.9rem;
    }

    .Achievements-Summary {
        flex-direction: column;
        padding-bottom: 5%;
    }

    .Achievements-Summary dl dd {
        font-size: 0.75rem;
    }

    .Achievements-Summary dl dt {
        font-size: 0.9rem;
    }

    .Suppressant {
        width: 80%;
        height: 15rem;
        margin-bottom: 3%;
    }
    
    .Suppressant dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Suppressant img{
        width: 8.9rem; 
        height: 8.9rem;
        border-radius: 1rem;
    }

    .Envoys {
        width: 80%;
        height: 15rem;
        margin-bottom: 3%;
    }
    
    .Envoys dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Envoys img{
        width: 8.9rem; 
        height: 8.9rem;
        border-radius: 1rem;
    }

    .Provisional {
        width: 80%;
        height: 15rem;
        margin-bottom: 3%;
    }
    
    .Provisional dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Provisional img{
        width: 8.9rem; 
        height: 8.9rem;
        border-radius: 1rem;
    }

    .Provisional2 {
        width: 80%;
        height: 15rem;
        margin-bottom: 3%;
    }
    
    .Provisional2 dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Provisional2 img{
        width: 8.9rem; 
        height: 8.9rem;
        border-radius: 1rem;
    }
}

@media (max-width: 570px) {
    .HeadBanner-About p {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    .HeadBanner-About p {
        font-size: 0.7rem;
    }

    .Legend2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Legend2 h1 {
        padding-top: 3%;
    }

    .Legend2 p {
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
    }

    .Achievements-Summary dl dd {
        font-size: 0.69rem;
    }

    .Achievements-Summary dl dt {
        font-size: 0.8rem;
    }

    .Suppressant {
        width: 80%;
        height: 13.5rem;
        margin-bottom: 3%;
    }
    
    .Suppressant dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Suppressant img{
        width: 6.5rem; 
        height: 6.5rem;
        border-radius: 1rem;
    }

    .Envoys {
        width: 80%;
        height: 13.5rem;
        margin-bottom: 3%;
    }
    
    .Envoys dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Envoys img{
        width: 6.5rem; 
        height: 6.5rem;
        border-radius: 1rem;
    }

    .Provisional {
        width: 80%;
        height: 13.5rem;
        margin-bottom: 3%;
    }
    
    .Provisional dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Provisional img{
        width: 6.5rem; 
        height: 6.5rem;
        border-radius: 1rem;
    }

    .Provisional2 {
        width: 80%;
        height: 13.5rem;
        margin-bottom: 3%;
    }
    
    .Provisional2 dt{
        padding-top: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .Provisional2 img{
        width: 6.5rem; 
        height: 6.5rem;
        border-radius: 1rem;
    }
}

@media (max-width: 425px) {
    .HeadBanner-About p {
        font-size: 0.65rem;
    }

    .Achievements-Summary dl dd {
        font-size: 0.65rem;
    }

    .Achievements-Summary dl dt {
        font-size: 0.7rem;
    }

    .Suppressant {
        height: 12.2rem;
    }

    .Envoys {
        height: 12.2rem;
    }

    .Provisional {
        height: 12.2rem;
    }

    .Provisional2 {
        height: 12.2rem;
    }
}

@media (max-width: 375px) {
    .HeadBanner-About p {
        font-size: 0.5rem;
    }

    .Achievements-Summary dl dd {
        font-size: 0.6rem;
    }

    .Achievements-Summary dl dt {
        font-size: 0.65rem;
    }
}

@media (max-width: 325px) {
    .HeadBanner-About p {
        font-size: 0.45rem;
    }
}

/*--------------------------------------------------------------------------------------AFFILIATES--------------------------------------------------------------------------------------------------------------------*/

.HeadBanner-Affiliates {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 95%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.HeadBanner-Affiliates img{
    width: 100%;
    grid-row: 1/5;
    grid-column: 1/6;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 2px 2px #222121;
}

.HeadBanner-Affiliates p {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    font-size: 2.25rem;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: white;
}

.BlackSteelSec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 4%;
    margin-bottom: 3%;
    width: 80%;
    background-color: #545454;
}

.BlackSteelSec img{
    width: 100%;
    border-radius: .75rem;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

.BlackSteelSec p {
    font-size: 1.25rem;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-left: 1%;
    justify-self: center;
    align-self: center;
}

.Rhine_LabSec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 4%;
    margin-bottom: 3%;
    width: 80%;
    background-color: #545454;
}

.Rhine_LabSec img{
    width: 100%;
    border-radius: .75rem;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

.Rhine_LabSec p {
    font-size: 1.25rem;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 1%;
    justify-self: center;
    align-self: center;
    text-align: right;
}

.Karlan_TradeSec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 4%;
    margin-bottom: 3%;
    width: 80%;
    background-color: #545454;
}

.Karlan_TradeSec img{
    width: 100%;
    border-radius: .75rem;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

.Karlan_TradeSec p {
    font-size: 1.25rem;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-left: 1%;
    justify-self: center;
    align-self: center;
}

.MaylanderSec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 4%;
    margin-bottom: 3%;
    width: 80%;
    background-color: #545454;
    box-shadow: 0rem .125rem .125rem #222121;
}

.MaylanderSec img{
    width: 100%;
    border-radius: .75rem;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

.MaylanderSec p {
    font-size: 1.25rem;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 1%;
    justify-self: center;
    align-self: center;
    text-align: right;
}

@media (max-width: 1300px) {
    .HeadBanner-Affiliates p {
        font-size: 2rem;
    }

    .BlackSteelSec p {
        font-size: 1.17rem;
    }

    .Rhine_LabSec p {
        font-size: 1.17rem;
    }

    .Karlan_TradeSec p {
        font-size: 1.17rem;
    }

    .Maylander p {
        font-size: 1.17rem;
    }
}

@media (max-width: 1200px) {
    .HeadBanner-Affiliates p {
        font-size: 1.8rem;
    }

    .BlackSteelSec p {
        font-size: 1.13rem;
    }

    .Rhine_LabSec p {
        font-size: 1.13rem;
    }

    .Karlan_TradeSec p {
        font-size: 1.13rem;
    }

    .Maylander p {
        font-size: 1.13rem;
    }
}

@media (max-width: 1100px) {
    .HeadBanner-Affiliates p {
        font-size: 1.6rem;
    }

    .BlackSteelSec p {
        font-size: 1.05rem;
    }

    .Rhine_LabSec p {
        font-size: 1.05rem;
    }

    .Karlan_TradeSec p {
        font-size: 1.05rem;
    }

    .Maylander p {
        font-size: 1.05rem;
    }
}

@media (max-width: 1030px) {
    .HeadBanner-Affiliates p {
        font-size: 1.6rem;
    }

    .BlackSteelSec p {
        font-size: 1rem;
    }

    .Rhine_LabSec p {
        font-size: 1rem;
    }

    .Karlan_TradeSec p {
        font-size: 1rem;
    }

    .Maylander p {
        font-size: 1rem;
    }
}

@media (max-width: 930px) {
    .HeadBanner-Affiliates p {
        font-size: 1.5rem;
    }

    .BlackSteelSec p {
        font-size: 0.85rem;
    }

    .Rhine_LabSec p {
        font-size: 0.85rem;
    }

    .Karlan_TradeSec p {
        font-size: 0.85rem;
    }

    .Maylander p {
        font-size: 0.85rem;
    }
}

@media (max-width: 800px) {
    .HeadBanner-Affiliates p {
        font-size: 1.2rem;
    }

    .BlackSteelSec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .BlackSteelSec p {
        font-size: 0.8rem;
        text-align: center;
    }

    .BlackSteelSec img {
        width: 60%;
        margin-bottom: 2%;
    }

    .Rhine_LabSec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Rhine_LabSec p {
        font-size: 0.8rem;
        text-align: center;
    }

    .Rhine_LabSec img{
        width: 60%;
        margin-bottom: 2%;
    }

    .Karlan_TradeSec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Karlan_TradeSec p {
        font-size: 0.8rem;
        text-align: center;
    }

    .Karlan_TradeSec img{
        width: 60%;
        margin-bottom: 2%;
    }

    .MaylanderSec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .MaylanderSec p {
        font-size: 0.8rem;
        text-align: center;
    }

    .MaylanderSec img{
        width: 60%;
        margin-bottom: 2%;
    }
}

@media (max-width: 800px) {
    .HeadBanner-Affiliates p {
        font-size: 1rem;
    }

    .BlackSteelSec p {
        font-size: 0.7rem;
        text-align: center;
    }

    .Rhine_LabSec p {
        font-size: 0.7rem;
        text-align: center;
    }

    .Karlan_TradeSec p {
        font-size: 0.7rem;
        text-align: center;
    }

    .MaylanderSec p {
        font-size: 0.7rem;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .HeadBanner-Affiliates p {
        font-size: 0.8rem;
    }

    .BlackSteelSec p {
        font-size: 0.5rem;
        text-align: center;
    }

    .Rhine_LabSec p {
        font-size: 0.5rem;
        text-align: center;
    }

    .Karlan_TradeSec p {
        font-size: 0.5rem;
        text-align: center;
    }

    .MaylanderSec p {
        font-size: 0.5rem;
        text-align: center;
    }
}

@media (max-width: 460px) {
    .HeadBanner-Affiliates p {
        font-size: 0.69rem;
    }
}

@media (max-width: 390px) {
    .HeadBanner-Affiliates p {
        font-size: 0.6rem;
    }
}

@media (max-width: 325px) {
    .HeadBanner-Affiliates p {
        font-size: 0.5rem;
    }
}

/*-------------------------------------------------------------------------------------------------------SERVICES-----------------------------------------------------------------------------------------------------*/

.HeadBanner-Services {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 95%;
    align-items: center;
    padding-top: 4%;
    padding-bottom: 4%;
}
.HeadBanner-Services img{
    width: 100%;
    grid-column: 1/13;
    grid-row: 1/5;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 2px 2px #222121;
}

.HeadBanner-Services p {
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 5;
    font-size: 2.25rem;
    color: white;
    text-align: right;
}

.Legend4 {
    width: 95%;
    padding-top: 7%;
    padding-bottom: 7%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: #969696;
    margin-bottom: 4.2%;
    box-shadow: 0rem .125rem .125rem #222121;
}

.Legend4 h1 {
    font-weight: 300;
    font-size: 2.5rem;
    grid-column: 1/2;
    grid-row: 1/3;
    padding: 3%;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.Legend4 p {
    grid-column: 2/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    margin-right: 2%;
}

.Medical {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
}

.Medical img{
    width: 100%;
    grid-column: 1/7;
    grid-row: 1/4;
}

.Medical h2 {
    grid-column: 2/6;
    grid-row: 1/2;
    font-weight: 300;
    align-self: self-end;
    font-size: 2.5rem;
    color: white;
}

.Medical h3 {
    grid-column: 1/6;
    grid-row: 2/3;
    font-weight: 300;
    margin-left: 5%;
    text-align: left;
    align-self: center;
    color: white;
}

.MedicalText {
    width: 95%;
    font-size: 1.75rem;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: black;
    background-color: #D9D9D9;
    margin-bottom: 3.5%;
    box-shadow: 0px 2px 2px #222121;
}

.MedicalText p {
    margin-left: 3%;
    margin-right: 3%;
}

.Mining {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
}

.Mining img{
    width: 100%;
    grid-column: 1/7;
    grid-row: 1/4;
}

.Mining h2 {
    grid-column: 2/6;
    grid-row: 1/2;
    font-weight: 300;
    text-align: right;
    align-self: self-end;
    font-size: 2.5rem;
    color: white;
}

.Mining h3 {
    grid-column: 2/7;
    grid-row: 2/3;
    font-weight: 300;
    margin-right: 5%;
    text-align: right;
    align-self: center;
    color: white;
}

.MiningText {
    width: 95%;
    font-size: 1.75rem;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: black;
    background-color: #D9D9D9;
    margin-bottom: 3.5%;
    box-shadow: 0rem .125rem .125rem #222121;
}

.MiningText p {
    margin-left: 3%;
    margin-right: 3%;
}

.STONKS {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
} 

.STONKS img{
    width: 100%;
    grid-column: 1/7;
    grid-row: 1/4;
}

.STONKS h2 {
    grid-column: 2/6;
    grid-row: 1/2;
    font-weight: 300;
    align-self: self-end;
    font-size: 2.5rem;
    color: white;
}

.STONKS h3 {
    grid-column: 1/6;
    grid-row: 2/3;
    font-weight: 300;
    margin-left: 5%;
    text-align: left;
    align-self: center;
    color: white;
}

.STONKSText {
    width: 95%;
    font-size: 1.75rem;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: black;
    background-color: #D9D9D9;
    margin-bottom: 3.5%;
    box-shadow: 0px 2px 2px #222121;
}

.STONKSText p {
    margin-left: 3%;
    margin-right: 3%;
}

.PROTEC {
    display: grid;
    width: 95%;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
}

.PROTEC img{
    width: 100%;
    grid-column: 1/7;
    grid-row: 1/4;
}

.PROTEC h2 {
    grid-column: 2/6;
    grid-row: 1/2;
    font-weight: 300;
    text-align: right;
    align-self: self-end;
    font-size: 2.5rem;
    color: white;
}

.PROTEC h3 {
    grid-column: 2/7;
    grid-row: 2/3;
    font-weight: 300;
    margin-right: 5%;
    text-align: right;
    align-self: center;
    color: white;
}

.PROTECText {
    width: 95%;
    font-size: 1.75rem;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: black;
    background-color: #D9D9D9;
    margin-bottom: 3.5%;
    box-shadow: 0px 2px 2px #222121;
}

.PROTECText p {
    margin-left: 3%;
    margin-right: 3%;
}

@media (max-width: 1300px) {
    .HeadBanner-Services p {
        font-size: 1.9rem;
    }

    .Legend4 h1 {
        font-size: 2.25rem;
    }

    .Medical h2 {
        font-size: 2.25rem;
    }

    .MedicalText p {
        font-size: 1.5rem;
    }

    .Mining h2 {
        font-size: 2.25rem;
    }

    .MiningText p {
        font-size: 1.5rem;
    }

    .STONKS h2 {
        font-size: 2.25rem;
    }

    .STONKSText p {
        font-size: 1.5rem;
    }

    .PROTEC h2 {
        font-size: 2.25rem;
    }

    .PROTECText p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1030px) {
    .HeadBanner-Services p {
        font-size: 1.65rem;
    }

    .Legend4 h1 {
        font-size: 2rem;
    }

    .Medical h2 {
        font-size: 2rem;
    }

    .Medical h3 {
        font-size: 1.4rem;
    }

    .MedicalText p {
        font-size: 1.25rem;
    }

    .Mining h2 {
        font-size: 2rem;
    }

    .Mining h3 {
        font-size: 1.4rem;
    }

    .MiningText p {
        font-size: 1.25rem;
    }

    .STONKS h2 {
        font-size: 2rem;
    }

    .STONKS h3 {
        font-size: 1.4rem;
    }

    .STONKSText p {
        font-size: 1.25rem;
    }

    .PROTEC h2 {
        font-size: 2rem;
    }

    .PROTEC h3 {
        font-size: 1.4rem;
    }

    .PROTECText p {
        font-size: 1.25rem;
    }
}

@media (max-width: 1030px) {
    .HeadBanner-Services p {
        font-size: 1.4rem;
    }

    .Legend4 h1 {
        font-size: 1.7rem;
    }

    .Medical h2 {
        font-size: 1.7rem;
    }

    .Medical h3 {
        font-size: 1.15rem;
    }

    .MedicalText p {
        font-size: 1.05rem;
    }

    .Mining h2 {
        font-size: 1.7rem;
    }

    .Mining h3 {
        font-size: 1.15rem;
    }

    .MiningText p {
        font-size: 1.05rem;
    }

    .STONKS h2 {
        font-size: 1.7rem;
    }

    .STONKS h3 {
        font-size: 1.15rem;
    }

    .STONKSText p {
        font-size: 1.05rem;
    }

    .PROTEC h2 {
        font-size: 1.7rem;
    }

    .PROTEC h3 {
        font-size: 1.15rem;
    }

    .PROTECText p {
        font-size: 1.05rem;
    }
}

@media (max-width: 800px) {
    .HeadBanner-Services p {
        font-size: 1.2rem;
    }

    .Legend4 h1 {
        font-size: 1.45rem;
    }

    .Medical h2 {
        font-size: 1.45rem;
    }

    .Medical h3 {
        font-size: 1.05rem;
    }

    .MedicalText p {
        font-size: 0.95rem;
    }

    .Mining h2 {
        font-size: 1.45rem;
    }

    .Mining h3 {
        font-size: 1.05rem;
    }

    .MiningText p {
        font-size: 0.95rem;
    }

    .STONKS h2 {
        font-size: 1.45rem;
    }

    .STONKS h3 {
        font-size: 1.05rem;
    }

    .STONKSText p {
        font-size: 0.95rem;
    }

    .PROTEC h2 {
        font-size: 1.45rem;
    }

    .PROTEC h3 {
        font-size: 1.05rem;
    }

    .PROTECText p {
        font-size: 0.95rem;
    }
}

@media (max-width: 720px) {
    .HeadBanner-Services p {
        font-size: 1rem;
    }

    .Legend4 h1 {
        font-size: 1.25rem;
    }

    .Medical h2 {
        font-size: 1.25rem;
    }

    .Medical h3 {
        font-size: 0.9rem;
    }

    .MedicalText p {
        font-size: 0.75rem;
    }

    .Mining h2 {
        font-size: 1.25rem;
    }

    .Mining h3 {
        font-size: 0.9rem;
    }

    .MiningText p {
        font-size: 0.75rem;
    }

    .STONKS h2 {
        font-size: 1.25rem;
    }

    .STONKS h3 {
        font-size: 0.9rem;
    }

    .STONKSText p {
        font-size: 0.75rem;
    }

    .PROTEC h2 {
        font-size: 1.25rem;
    }

    .PROTEC h3 {
        font-size: 0.9rem;
    }

    .PROTECText p {
        font-size: 0.75rem;
    }
}

@media (max-width: 720px) {
    .HeadBanner-Services p {
        font-size: 1rem;
    }

    .Legend4 h1 {
        font-size: 1.25rem;
    }

    .Medical h2 {
        font-size: 1.25rem;
    }

    .Medical h3 {
        font-size: 0.9rem;
    }

    .MedicalText p {
        font-size: 0.75rem;
    }

    .Mining h2 {
        font-size: 1.25rem;
    }

    .Mining h3 {
        font-size: 0.9rem;
    }

    .MiningText p {
        font-size: 0.75rem;
    }

    .STONKS h2 {
        font-size: 1.25rem;
    }

    .STONKS h3 {
        font-size: 0.9rem;
    }

    .STONKSText p {
        font-size: 0.75rem;
    }

    .PROTEC h2 {
        font-size: 1.25rem;
    }

    .PROTEC h3 {
        font-size: 0.9rem;
    }

    .PROTECText p {
        font-size: 0.75rem;
    }
}

@media (max-width: 600px) {
    .HeadBanner-Services p {
        font-size: 0.75rem;
    }

    .Legend4 h1 {
        font-size: 0.95rem;
    }

    .Medical h2 {
        font-size: 0.95rem;
    }

    .Medical h3 {
        font-size: 0.65rem;
    }

    .MedicalText p {
        font-size: 0.5rem;
    }

    .Mining h2 {
        font-size: 0.95rem;
    }

    .Mining h3 {
        font-size: 0.65rem;
    }

    .MiningText p {
        font-size: 0.5rem;
    }

    .STONKS h2 {
        font-size: 0.95rem;
    }

    .STONKS h3 {
        font-size: 0.65rem;
    }

    .STONKSText p {
        font-size: 0.5rem;
    }

    .PROTEC h2 {
        font-size: 0.95rem;
    }

    .PROTEC h3 {
        font-size: 0.65rem;
    }

    .PROTECText p {
        font-size: 0.5rem;
    }
}

@media (max-width: 450px) {
    .HeadBanner-Services p {
        font-size: 0.625rem;
    }

    .Legend4 h1 {
        font-size: 0.75rem;
    }

    .Medical h2 {
        font-size: 0.75rem;
    }

    .Medical h3 {
        font-size: 0.5313rem;
    }

    .Mining h2 {
        font-size: 0.75rem;
    }

    .Mining h3 {
        font-size: 0.5313rem;
    }

    .STONKS h2 {
        font-size: 0.75rem;
    }

    .STONKS h3 {
        font-size: 0.5313rem;
    }

    .PROTEC h2 {
        font-size: 0.75rem;
    }

    .PROTEC h3 {
        font-size: 0.5313rem;
    }
}

@media (max-width: 380px) {
    .HeadBanner-Services p {
        font-size: 0.5rem;
    }

    .Legend4 h1 {
        font-size: 0.5938rem;
    }

    .Medical h2 {
        font-size: 0.5938rem;
    }

    .Medical h3 {
        font-size: 0.5rem;
    }

    .Mining h2 {
        font-size: 0.5938rem;
    }

    .Mining h3 {
        font-size: 0.5rem;
    }

    .STONKS h2 {
        font-size: 0.5938rem;
    }

    .STONKS h3 {
        font-size: 0.5rem;
    }

    .PROTEC h2 {
        font-size: 0.5938rem;
    }

    .PROTEC h3 {
        font-size: 0.5rem;
    }
}

/*-----------------------------------------------------------------------------------------------------LOCATION-------------------------------------------------------------------------------------------------------*/

.HeadBanner-Location {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 95%;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}
.HeadBanner-Location img{
    width: 100%;
    grid-column: 1/5;
    grid-row: 1/5;
    box-shadow: 0rem .125rem .125rem #222121;
}

.HeadBanner-Location h1 {
    font-weight: 300;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    color: white;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.Legend5 {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #545454;
    align-items: center;
}

.Legend5 h2 {
    font-weight: 300;
    padding-top: 3%;
    padding-bottom: 3%;
}

.Legend5 p {
    text-align: center;
    padding: 2%;
}

.TextBlock1 {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #545454;
}

.TextBlock1 div {
    display: flex;
    flex-direction: row;
}

.Text1 {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.875rem;
}

.Text2 {
    text-align: center;
    padding-top: 1.2%;
    padding-left: 5%;
    padding-right: 5%;
}

.Text3 {
    text-align: center;
    padding-top: 1.2%;
    padding-left: 5%;
    padding-right: 5%;
}

.Text4 {
    text-align: center;
    padding-top: 1.2%;
    padding-left: 5%;
    padding-right: 5%;
}

.Text5 {
    text-align: center;
    padding-top: 1.2%;
    padding-left: 5%;
    padding-right: 5%;
}

.Text6 {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.2%;
    padding-bottom: 5%;
}

.Landship {
    justify-content: center;
    align-content: center;
}

.Landship img{
    width: 90%;
}

.LandshipText {
    font-size: 1rem;
    padding-left: 5%;
}

.BridgeDiagram {
    align-items: center;
}

.BridgeDiagram img {
    width: 33%;
    padding-top: 1.25rem;
    margin-left: 5%;
}

.BridgeDiagram p {
    padding-right: 5%;
    padding-top: 1.25rem;
    margin-left: .625rem;
    text-align: left;
}

.BridgeText {
    font-size: 1rem;
    text-align: left;
    margin-left: 5%;
}

.WarningSistem {
    align-items: center;
}

.WarningSistem img {
    width: 13%;
    padding-top: 1.25rem;
    margin-right: 5%;
}

.WarningSistem p {
    padding-left: 5%;
    padding-top: 1.25rem;
    margin-right: .625rem;
    text-align: right;
}

.WarningSistemText {
    font-size: 1rem;
    margin-right: 5%;
    text-align: right;
    justify-content: right;
}

@media (max-width: 1300px) {
    .HeadBanner-Location h1 {
        font-size: 2rem;
    }

    .Legend5 h2 {
        font-size: 2rem;
    }

    .LandshipText {
        font-size: 0.9rem;
    }

    .BridgeText {
        font-size: 0.9rem;
    }

    .WarningSistemText {
        font-size: 0.9rem;
    }
}

@media (max-width: 1085px) {
    .HeadBanner-Location h1 {
        font-size: 1.75rem;
    }

    .Legend5 h2 {
        font-size: 1.75rem;
    }

    .LandshipText {
        font-size: 0.79rem;
    }
    
    .BridgeText {
        font-size: 0.79rem;
    }

    .WarningSistemText {
        font-size: 0.79rem;
    }
}

@media (max-width: 940px) {
    .HeadBanner-Location h1 {
        font-size: 1.5rem;
    }

    .Legend5 h2 {
        font-size: 1.5rem;
    }
    
    .LandshipText {
        font-size: 0.65rem;
    }
    
    .BridgeText {
        font-size: 0.65rem;
    }

    .WarningSistemText {
        font-size: 0.65rem;
    }
}

@media (max-width: 780px) {
    .HeadBanner-Location h1 {
        font-size: 1.25rem;
    }

    .Legend5 h2 {
        font-size: 1.25rem;
    }
    
    .LandshipText {
        font-size: 0.5rem;
    }
    
    .BridgeText {
        font-size: 0.5rem;
    }

    .WarningSistemText {
        font-size: 0.5rem;
    }
}

@media (max-width: 700px) {
    .HeadBanner-Location h1 {
        font-size: 1.05rem;
    }

    .Legend5 h2 {
        font-size: 1.05rem;
    }
    
    .LandshipText {
        font-size: 0.4rem;
    }
    
    .BridgeText {
        font-size: 0.4rem;
    }

    .WarningSistemText {
        font-size: 0.4rem;
    }
}

@media (max-width: 500px) {
    .HeadBanner-Location h1 {
        font-size: 0.79rem;
    }

    .Legend5 h2 {
        font-size: 0.79rem;
    }
    
    .LandshipText {
        font-size: 0.35rem;
    }
    
    .BridgeText {
        font-size: 0.35rem;
    }

    .WarningSistemText {
        font-size: 0.35rem;
    }
}

@media (max-width: 400px) {
    .HeadBanner-Location h1 {
        font-size: 0.65rem;
    }

    .Legend5 h2 {
        font-size: 0.65rem;
    }
    
    .LandshipText {
        font-size: 0.3rem;
    }
    
    .BridgeText {
        font-size: 0.3rem;
    }

    .WarningSistemText {
        font-size: 0.3rem;
    }
}

@media (max-width: 360px) {
    .HeadBanner-Location h1 {
        font-size: 0.55rem;
    }

    .Legend5 h2 {
        font-size: 0.55rem;
    }
}

/*------------------------------------------------------------------------------------------------ORIPATHY------------------------------------------------------------------------------------------------------------*/

.HeadBanner-Oripathy {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.HeadBanner-Oripathy img{
    width: 100%;
    grid-column: 1/5;
    grid-row: 1/3;
    box-shadow: 0px 2px 2px #222121;
}

.OrSpeech1 {
    grid-column: 2/4;
    grid-row: 1/3;
    font-size: 2rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    color: white;
}

.OrSpeech2 {
    grid-column: 3/5;
    grid-row: 2/3;
    font-size: 1.5rem;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 7%;
    color: white;
}

.OrDescription {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #545454;
}

.OrDescription h1 {
    text-align: center;
    padding: 3%;
    font-weight: 300;
}

.OrDescription p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5%;
}

.Transmission {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #545454;
}

.Transmission h2 {
    font-weight: 300;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
}

.Transmission p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5%;
}

.Diagnosis {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #545454;
}

.Diagnosis h2 {
    font-weight: 300;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
}

.Diagnosis p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5%;
}

.Treatment {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #545454;
}

.Treatment h2 {
    font-weight: 300;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
}

.Treatment p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5%;
}

.Stages {
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color: #545454;
}

.Stages h2 {
    font-weight: 300;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
}

.Stages p {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5%;
}

.Stages li {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5%;
    list-style: none;
}

.OripathyDepictionImg{
    width: 90%;
    align-self: center;
}

.OripathyDepictionText {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5%;
}

@media (max-width: 1300px) {
    .OrSpeech1 {
        font-size: 1.6rem;
    }

    .OrSpeech2 {
        font-size: 1.25rem;
    }

    .OrDescription h1 {
        font-size: 2rem;
    }

    .OripathyDepictionText {
        font-size: 0.9rem;
    }
}

@media (max-width: 1050px) {
    .OrSpeech1 {
        font-size: 1.4rem;
    }

    .OrSpeech2 {
        font-size: 1.05rem;
    }

    .OrDescription h1 {
        font-size: 1.65rem;
    }

    .OripathyDepictionText {
        font-size: 0.79rem;
    }
}

@media (max-width: 920px) {
    .OrSpeech1 {
        font-size: 1.15rem;
    }

    .OrSpeech2 {
        font-size:0.85rem;
    }

    .OrDescription h1 {
        font-size: 1.5rem;
    }

    .OripathyDepictionText {
        font-size: 0.65rem;
    }
}

@media (max-width: 780px) {
    .OrSpeech1 {
        font-size: 1rem;
    }

    .OrSpeech2 {
        font-size:0.7rem;
    }

    .OrDescription h1 {
        font-size: 1.2rem;
    }

    .OripathyDepictionText {
        font-size: 0.5rem;
    }
}

@media (max-width: 650px) {
    .OrSpeech1 {
        font-size: 0.82rem;
    }

    .OrDescription h1 {
        font-size: 1.05rem;
    }
}

@media (max-width: 550px) {
    .OrSpeech1 {
        font-size: 0.65rem;
    }

    .OrSpeech2 {
        font-size: 0.59rem;
    }

    .OrDescription h1 {
        font-size: 0.95rem;
    }

    .OripathyDepictionText {
        font-size: 0.35rem;
    }
}

@media (max-width: 480px) {
    .OrSpeech1 {
        font-size: 0.5rem;
    }

    .OrSpeech2 {
        font-size: 0.45rem;
    }

    .OrDescription h1 {
        font-size: 0.8rem;
    }

    .OripathyDepictionText {
        font-size: 0.3rem;
    }
}

@media (max-width: 380px) {
    .OrSpeech1 {
        font-size: 0.45rem;
    }

    .OrSpeech2 {
        font-size: 0.35rem;
    }

    .OrDescription h1 {
        font-size: 0.75rem;
    }

    .OripathyDepictionText {
        font-size: 0.3rem;
    }
}

/*-----------------------------------------------------------------------------------------------JOIN US--------------------------------------------------------------------------------------------------------------*/

.HeadBanner-JoinUs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 95%;
    margin-top: 5%;
    align-items: center;
}

.HeadBanner-JoinUs img {
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
}

.HeadBanner-JoinUs span {
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: right;
    font-size: 3.5rem;
    font-weight: 300;
    margin-right: 5%;
}

.InfoBlock2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 95%;
    padding-bottom: 2%;
    background-color: #D9D9D9;
}

.InfoBlock2 h1 {
    grid-column: 1/2;
    grid-row: 1/6;
    font-weight: 350;
    justify-self: center;
    align-self: center;
}

.InfoBlock2 p:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/4;
    text-align: left;
    align-self: center;
    justify-self: center;
}

.InfoBlock2 p:nth-child(3) {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    align-self: center;
    margin-bottom: 2%;
}

.InfoBlock2 button {
    padding: .125rem .125rem;
    border-radius: .75rem;
    border: none;
    width: 60%;
    height: 70%;
    font-size: 2rem;
    font-family: "Goldman", serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    background-color: #22BBFF;
    box-shadow: .8px .8px 2px #1a1919;
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
    grid-row: 5/6;
}

.InfoBlock2 p:last-child {
    grid-column: 1/3;
    grid-row: 6/7;
    font-size: 1rem;
    margin-left: 1.5%;
    margin-right: 1.5%;
    align-self: flex-end;
}

.SubBanner4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    width: 95%;
}

.SubBanner4 img {
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/4;
}

.SubBanner4 h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-weight: 300;
    color: white;
    align-self: flex-end;
}

.SubBanner4 p {
    grid-column: 1/3;
    grid-row: 2/4;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    text-align: center;
    justify-self: center;
    align-self: flex-start;
    color: white;
}

.InfoBlock3 {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #D9D9D9;
}

.InfoBlock3 h2 {
    font-weight: 300;
    margin-bottom: 1.5%;
    margin-left: 5%;
}

.InfoBlock3 p {
    margin-left: 5%;
    margin-right: 5%;
}

.InfoBlock3 p:last-child {
    margin-top: 1%;
}

@media (max-width: 1350px) {
    .HeadBanner-JoinUs span {
        font-size: 3.25rem;
    }

    .InfoBlock2 button {
        font-size: 1.75rem;
    }
}

@media (max-width: 1200px) {
    .InfoBlock2 button {
        font-size: 1.65rem;
    }
}

@media (max-width: 1130px) {
    .InfoBlock2 button {
        font-size: 1.5rem;
    }
}

@media (max-width: 1080px) {
    .InfoBlock2 p:last-child {
        font-size: 0.9rem;
    }
}

@media (max-width: 1020px) {
    .InfoBlock2 button {
        font-size: 1.25rem;
    }

    .InfoBlock2 p:last-child {
        font-size: 0.79rem;
    }
}

@media (max-width: 1130px) {
    .HeadBanner-JoinUs span {
        font-size: 2.85rem;
    }
}

@media (max-width: 700px) {
    .HeadBanner-JoinUs span {
        font-size: 2.5rem;
    }

    .InfoBlock2 p {
        font-size: 1rem;
    }

    .InfoBlock2 button {
        font-size: 1.05rem;
    }

    .InfoBlock2 p:last-child {
        font-size: 0.65rem;
    }
}

@media (max-width: 600px) {
    .HeadBanner-JoinUs span {
        font-size: 2rem;
    }

    .InfoBlock2 p {
        font-size: 0.85rem;
    }

    .InfoBlock2 button {
        font-size: 0.95rem;
    }

    .InfoBlock2 p:last-child {
        font-size: 0.5rem;
    }
}

@media (max-width: 500px) {
    .HeadBanner-JoinUs span {
        font-size: 1.7rem;
    }

    .InfoBlock2 p {
        font-size: 0.7rem;
    }

    .InfoBlock2 button {
        font-size: 0.7rem;
    }

    .InfoBlock2 p:last-child {
        font-size: 0.35rem;
    }
}

@media (max-width: 425px) {
    .HeadBanner-JoinUs span {
        font-size: 1.45rem;
    }
}

@media (max-width: 375px) {
    .HeadBanner-JoinUs span {
        font-size: 1.2rem;
    }

    .InfoBlock2 p {
        font-size: 0.5rem;
    }

    .InfoBlock2 button {
        font-size: 0.5rem;
    }

    .InfoBlock2 p:last-child {
        font-size: 0.3rem;
    }
}