footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    height: 30%;
    background-color: #2D2D31;
    ul {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        gap: 56px;
        margin-right: 3%;
        color: white;
    }
    div {
        width: fit-content;
        height: fit-content;
        padding-top: 3.5%;
        padding-bottom: 3.5%;
        }
        img{
            width: 200px;
        }
    }